# Server
PORT=8000
API_PREFIX=/api/v1/
CORS_ORIGIN=http://localhost:5173

# Health service mode
AWS_REGION=il-central-1
HEALTH_LAMBDA_FUNCTION_NAME=arn:aws:lambda:il-central-1:852215679994:function:charging-stations-health


# Auth (AWS Cognito)
AUTH_DISABLED=true
COGNITO_REGION=il-central-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

# Logging
LOG_LEVEL=debug
ENVIRONMENT=local
